.layout {
  display: flex;
  flex-direction: column;
  background: transparent;
  padding: 0.625rem;
}

.locationIcon {
  margin-right: 0.313rem;
}

.location {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
