.currentWeatherLabelAndDateBox {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin-bottom: 1.25rem;
}

.currentWeatherLabelAndDateBox .currentWeatherLabel {
  font-weight: bold;
}
.currentWeatherLabelAndDateBox .currentDate {
  color: rgba(255, 255, 255, 0.6);
}

.summaryBox {
  display: flex;
  flex-direction: column;
}

.summaryBox .conditionText {
  font-size: 1.125rem;
  font-weight: bold;
}

.summaryBox .feelsLikeText {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
}

.summaryBox .feelsLikeText sup {
  font-size: 0.6rem;
}

.avgTemp {
  font-size: 4rem;
}

.avgTemp sup {
  font-size: 2rem;
}

.statisticsBar {
  margin-top: 3rem;
}

.statistic {
  display: flex;
  flex-direction: column;
}

.statistic .statisticTitle {
  color: rgba(255, 255, 255, 0.6) !important;
  font-size: 0.8rem;
}

.statistic .statisticValue {
  color: #ffffff;
  font-size: 1.5rem;
}
