.moreDetailBar {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.labelDaysForecast {
  color: #ffffff;
  font-weight: bold;
}

.link {
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: #00dac3;
}
