.currentWeatherCard {
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.02) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.02) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.02) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-width: 0;
  color: white;
  border-radius: 0.625rem;
  padding: 0.625rem;
  margin-bottom: 40px;
}

.currentWeatherLabelAndDateBox {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin-bottom: 20px;
}

.currentWeatherLabelAndDateBox .currentWeatherLabel {
  font-weight: bold;
}
.currentWeatherLabelAndDateBox .currentDate {
  color: rgba(255, 255, 255, 0.6);
}

.summaryBox {
  display: flex;
  flex-direction: column;
}

.summaryBox .conditionText {
  font-size: 1.125rem;
  font-weight: bold;
}

.summaryBox .feelsLikeText {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
}

.summaryBox .feelsLikeText sup {
  font-size: 0.6rem;
}

.avgTemp {
  font-size: 4rem;
}

.avgTemp sup {
  font-size: 2rem;
}

.statisticsBar {
  margin-top: 3rem;
}

.statistic {
  display: flex;
  flex-direction: column;
}

.statistic .statisticTitle {
  color: rgba(255, 255, 255, 0.6) !important;
  font-size: 0.8rem;
}

.statistic .statisticValue {
  color: #ffffff;
  font-size: 1.5rem;
}
