.currentWeatherCard {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.10), rgba(100, 100, 100, 0.3)) !important;
    /*background-color: rgba(255, 255, 255, 0.1);*/
    border-color: rgba(245, 245, 245, 0.10) !important;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.avgTemp {
    font-size: 64px;
}

.avgTemp sup {
    font-size: 24px;
}


.statistic {
    display: flex;
    flex-direction: column;
}

.statistic .statisticTitle {
    color: #c7c7c7 !important;
    font-size: 1rem;
}

.statistic > .statisticValue {
    color: #ffffff;
    font-size: 2rem;
}