.weatherCard {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
}

.link {
  margin-top: 20px;
  display: inline-block;
  color: #1890ff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: #0050b3;
}
