.weatherCard {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
}

.btn {
    width: 150px;
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 14px;
    overflow: hidden;
    -webkit-transition: width 300ms linear;
    -moz-transition: width 300ms linear;
    -ms-transition: width 300ms linear;
    -o-transition: width 300ms linear;
    transition: width 300ms ease-in-out;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.07);
    border-color: transparent !important;
}

.btnActive {
    width: 300px;
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
    border-color: transparent !important;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff !important;
    font-weight: bold;
    overflow: hidden;
    -webkit-transition: width 300ms linear;
    -moz-transition: width 300ms linear;
    -ms-transition: width 300ms linear;
    -o-transition: width 300ms linear;
    transition: width 300ms ease-in-out;
}

.weatherBox {
    display: flex;
    width: 300px;
    height: 100%;
}

.expandBox {
    width: 150px;
    height: 150px;
    /*line-height: 2;*/
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}