html {
  font-size: 16px;
}

body {
  background: linear-gradient(rgb(36, 84, 148) 0%, rgb(28, 68, 132) 0%);
  margin: 0;
}

::-webkit-scrollbar {
  height: 0.438rem;
  width: 0.438rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.438rem;
  background-color: rgb(12, 37, 80);
}

::-webkit-scrollbar-track {
  background-color: rgb(28, 68, 132);
}
